*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  :root{
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
  }

  html{
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
  }

  @media screen and (min-width: 300px) and (max-width: 720px){
    body{
      display: flex;
    }
  }
  .easybank-page{
    /* width: 375px; */
    background-color: var(--White);
    height: 100vh;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    height: 7%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header-tags{
    display: none;
  }

  .header-button{
    display: none;
  }

  .page1-introduction{
    display: flex;
    padding-bottom: 4.5rem;
    flex-direction: column;
    background-color: var(--Very-Light-Gray);
  }

  .page1-image-container{
    background-image: url("images/bg-intro-mobile.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
  }

  .page1-image-container > img{
    width: 100%;
    margin-top: -32%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .page1-introduction-description{
    height: 40%;
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  .page1-introduction-description > h1{
    font-size: 2.25rem;
    font-weight: 300;
    text-align: center;
    line-height: 2.5rem;
    color: var(--Dark-Blue);
  }

  .page1-introduction-description > p{
    font-size: 0.8rem;
    color: var(--Grayish-Blue);
    padding: 1rem;
    text-align: center;
    line-height: 1.4rem;
  }

  .button-top ,.header-button{
    margin-top: 1rem;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: var(--White);
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 1.5rem;
    border: 0;
  }

  .page2-features{
    padding-top: 3rem;
    background-color: var(--Light-Grayish-Blue);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3.5rem;
    text-align: center;
  }

  .why-choose-heading{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    line-height: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .why-choose-text{
    font-size: 0.85rem;
    color: var(--Grayish-Blue);
    line-height: 1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 1.75rem;
  }

  .online-banking, .simple-budgeting, .fast-onboarding, .open-api{
    display: flex;
    padding-top: 1.25rem;
    flex-direction: column;
    align-items: center;
  }

  .online-banking-img, .simple-budgeting-img, .fast-onboarding-img, .open-api-img{
    width: 4rem;
  }

  .online-banking-heading, .simple-budgeting-heading, .fast-onboarding-heading, .open-api-heading{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--Dark-Blue);
    font-size: 1.1rem;
    font-weight: 300;
  }

  .online-banking-para, .simple-budgeting-para, .fast-onboarding-para, .open-api-para{
    font-size: 0.8rem;
    color: var(--Grayish-Blue);
    line-height: 1.4rem;
  }

  .page3-articles{
    padding-top: 5rem;
    background-color: var(--Very-Light-Gray);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 5rem;
  }

  .page3-articles-heading{
    font-size: 1.75rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    text-align: center;
  }

  .article1, .article2, .article3, .article4{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
  }

  .article1-img, .article2-img, .article3-img, .article4-img{
    border-top-left-radius: 7.5px;
    border-top-right-radius: 5px;
  }

  .article1-img{
    margin-bottom: -10.5%;
  }

  .article2-img{
    margin-bottom: -2%;
  }

  .article3-img{
    margin-bottom: -2%;
  }

  .article4-img{
    margin-bottom: -4%;
  }

  .article1-description-box, .article2-description-box, .article3-description-box, .article4-description-box{
    padding: 1.5rem;
    padding-bottom: 2.5rem;
    background-color: var(--White);
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .article1-written-by, .article2-written-by, .article3-written-by, .article4-written-by{
    font-size: 0.5rem;
    color: var(--Grayish-Blue);
  }

  .article1-heading, .article2-heading, .article3-heading, .article4-heading{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 0.85rem;
    line-height: 1.2rem;
    color: var(--Dark-Blue);
  }

  .article1-text, .article2-text, .article3-text, .article4-text{
    font-size: 0.7rem;
    color: var(--Grayish-Blue);
    line-height: 1rem;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Dark-Blue);
    padding-top: 1.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 1rem;
  }

  .footer-logo{
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
 
  .social-network-sites-logo{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  .footer-tags{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--White);
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .about-us, .contact, .blog, .careers, .support, .privacy-pol{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .button-copyright
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button-bottom{
    align-self: center;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: var(--White);
    font-size: 0.8rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    font-weight: bold;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 1.5rem;
    border: 0;
  }

  .copyright{
    color: var(--Grayish-Blue);
    font-size: 0.8rem;
    padding-top: 2rem;
    align-self: center;
  }

  .coder{
    counter-reset: var(--White);
    padding-top: 1rem;
    font-size: 0.4rem;
    align-self: center;
  }








  @media screen and (min-width: 720px){
    body{
      display: flex;
      width: 100%;
      justify-content: center;
    }

    header{
      padding-left: 10%;
      padding-right: 10%;
    }

    .header-tags{
      display: flex;
      justify-content: space-between;
      color: var(--Grayish-Blue);
      font-size: 0.8rem;
    }

    li{
      padding-right: 1rem;
      padding-left: 1rem;
    }

    .hamburger-icon{
      display: none;
    }

    .header-button{
      margin-bottom: 1rem;
    }

    .header-button{
      display: block;
    }

    .page1-introduction{
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 0rem;
      width: 100%;
      height: auto;
      padding-left: 10%;
    }

    .page1-image-container{
      background-image: url("images/bg-intro-desktop.svg");
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 100%;
      overflow: hidden;
      width: 50%;
    }
  
    .page1-image-container > img{
      width: 100%;
      margin-top: -15%;
      margin-left: 17%;
      padding: 0rem;
    }

    .page1-introduction-description{
     width: 50%;
     display: flex;
     align-items: flex-start;
     margin-top: auto;
     margin-bottom: auto;
     padding-bottom: 10rem;
    }

    .page1-introduction-description > h1{
      width: 50%;
      text-align: left;
      padding-bottom: 1rem; 
    }
  
    .page1-introduction-description > p{
      width: 60%;
      text-align: left;
      padding: 0rem; 
    }

    .page2-features{
      margin-top: -8%;
      text-align: left;
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      flex-wrap: wrap;
    }

    .features{
      display: flex;
    }

    .online-banking, .simple-budgeting, .fast-onboarding, .open-api{
      display: flex;
      align-items:flex-start;
      width: 22.5%;
      margin-right: auto;
    }

    .open-api{
      margin-right: 0rem;
    }

    .why-choose{
      width: 100%;
    }

    .page3-articles{
      display: flex;
      flex-wrap: wrap;
      padding-left: 10%;
      padding-right: 10%;
    }

    .page3-articles-heading{
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }

    .articles{
      display: flex;
      width: 100%;
    }

    .article1, .article2, .article3{
      margin-right: 2rem;
    }

    .article1-img, .article2-img, .article3-img, .article4-img{
      border-top-left-radius: 7.5px;
      border-top-right-radius: 5px;
      max-width: 100%;
    }

    .article1-description-box, .article2-description-box, .article3-description-box, .article4-description-box{
      display: flex;
      flex-direction: column;
      width: 22.5;
      margin-right: auto;
    }
    
    footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 0rem;
      padding-bottom: 0rem;
      padding-left: 10%;
      padding-right: 10%;
    }

    .logos{
     display: flex;
     /* width: 50%; */
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
    }

    .facebook, .twitter, .instagram, .pinterest, .youtube{
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .footer-tags{
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: start;
      margin-right: 20%;
    }

    .button-copyright{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .button-bottom{
      margin-bottom: -1rem;
    }
  }

